.restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  cursor: pointer;
}

.restaurant_modal {
  &_container {
    display: flex;
    flex-direction: row-reverse;
    height: 210px;
    width: 600px;
    justify-content: space-between;
    box-shadow: 0px 7px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 25px;
    &-image {
      display: flex;
      img {
        width: 350px;
        border-radius: 0 10px 10px 0;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 40px;
      h3 {
        font-size: 1.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
        height: 1.2em;
        white-space: nowrap;
      }
      p {
        color: rgb(148, 148, 148);
        font-weight: 600;
      }
      &-delete {
        display: flex;
        position: relative;
        width: 20px;
        img {
          position: absolute;
          top: -5px;
          width: 100%;
        }
      }
    }
  }
}
