@import "../style.scss";

.orders {
  width: 85%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  margin: 20px auto;
  p {
    color: #717171;
  }
  &__topCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 7rem;
    border-radius: 10px;
    box-shadow: 0px 4px 9px 4px #00000040;
    padding: 2rem;
    font-size: 15px;
    font-weight: 700;
    &--details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-total,
      &-status {
        display: flex;
        justify-content: space-around;
      }
      &-col1 {
        &-restaurant,
        &-client,
        &-orderid {
          display: flex;
        }
      }
      &-col1,
      &-col2 {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      &-col2 {
        &-entrance,
        &-home {
          display: flex;
          justify-content: space-between;
        }
        &-address {
          display: flex;
          justify-content: space-between;
          &-details {
            display: flex;
            width: 250px;
            justify-content: space-between;
          }
        }
      }
    }
  }
  &__bottomCard {
    width: 80%;
    height: 14rem;
    box-shadow: 0px 14px 9px 5px #00000040;
    // margin-top: 4rem;
    border-radius: 5px;
    &--titles {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 5rem;
    }
  }
}
