<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./activeOrders.css" />
    <script src="../dist/helper.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="orders">
      <div class="orders__topCard">
        <div class="orders__topCard--details">
          <div class="orders__topCard--details-col1">
            <div class="orders__topCard--details-col1-orderid">
              <label>Orderid: </label>
              <p>1234546</p>
            </div>
            <div class="orders__topCard--details-col1-client">
              <label>Client name: </label>
              <p>Idan test</p>
            </div>
            <div class="orders__topCard--details-col1-restaurant">
              <label>Restaurant: </label>
              <p>פלאפל בריבוע</p>
            </div>
          </div>
          <div class="orders__topCard--details-col2">
            <div class="orders__topCard--details-col2-address">
              <label>Address</label>
              <p></p>
            </div>
            <div class="orders__topCard--details-col2-address-details">
              <div class="orders__topCard--details-col2-home">
                <label>Home:</label>
                <p>חתול רחוב</p>
              </div>
              <div class="orders__topCard--details-col2-entrance">
                <label>Entrance </label>
                <p>dsjfhsjk</p>
              </div>
            </div>
          </div>
          <div class="orders__topCard--details-total">
            <label>Total</label>
            <p>jhjhjh</p>
          </div>
          <div class="orders__topCard--details-status">
            <label>Status</label>
            <select name="city"></select>
          </div>
        </div>
      </div>
      <div class="orders__bottomCard">
        <div class="orders__bottomCard--titles">
          <p>Image</p>
          <p>Product</p>
          <p>Notes</p>
          <p>Price</p>
        </div>
        <hr />
      </div>
    </div>
  </body>
</html>
