<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./dist/activeOrders.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="orders">
      <div class="orders__topCard">
        <div class="orders__topCard--details">
          <div class="orders__topCard--details-Col1">
            <div class="orders__topCard--details-Col1-orderID">orderid</div>
            <div class="orders__topCard--details-Col1-clientName">
              client name
            </div>
            <div class="orders__topCard--details-Col1-restaurant">
              restaurant
            </div>
          </div>
          <div class="orders__topCard--details-Col2">
            <div class="orders__topCard--details-Col2-address">address</div>
            <div class="orders__topCard--details-Col2-home">home</div>
            <div class="orders__topCard--details-Col2-entrance">entrance</div>
          </div>
          <div class="orders__topCard--details-total">total</div>
          <div class="orders__topCard--details-status">status</div>
        </div>
        <div class="orders__topCard--arrow">
          <img
            src="../assets/images/arrow.png"
            class="orders__topCard--arrow-arrowImg"
          />
        </div>
      </div>
      <div class="orders__bottomCard"></div>
    </div>
  </body>
</html>
