@import "../style.scss";

.create_restaurant {
  &-container {
    &-info {
      &--details {
        display: flex;
        flex-direction: row;
        height: 165px;
        width: 700px;
        justify-content: space-between;
        &-input {
          display: flex;
          flex-direction: column;
          input {
            height: 30px;
            border-radius: 10px;
            border: 1px solid #9e9e9e;
            padding: 0 15px;
            width: 250px;
            font-size: 1.25rem;
          }
        }
      }
      &--checkbox {
        display: flex;
        width: 100px;
        height: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &-selector {
          position: relative;
          input {
            position: absolute;
            top: 4px;
          }
          label {
            position: absolute;
            left: 22px;
          }
        }
      }
    }
  }
}
