<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css" />
    <title>Document</title>
  </head>
  <body>
    <selection class="dish">
      <div class="dish_container">
        <div class="dish_container-cover"></div>
        <div class="dish_container-headline">
          <h3>dish</h3>
          <h4>₪54</h4>
        </div>
        <div class="dish_container-notes">
          <p>this is a text</p>
        </div>
        <div class="dish_container-addcart">
          <button>Add to Cart</button>
        </div>
      </div>
    </selection>
  </body>
</html>
