<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css" />
    <title>Document</title>
  </head>
  <body>
    <selection class="create_dish">
      <div class="create_dish_container">
        <div class="create_dish_container--cover"></div>
        <div class="create_dish_container--form">
          <form onsubmit="">
            <div class="create_dish_container--form-top">
              <label>Dish Name</label>
              <input
                class="create_dish_container--form-top-name"
                type="text"
                name="dishName"
              />
              <label>Price</label>
              <input
                class="create_dish_container--form-top-price"
                type="number"
                name="price"
                maxlength="4"
              />
            </div>
            <label>Image</label>
            <input type="text" name="image" />
            <label>Notes</label>
            <textarea type="text" name="notes"> </textarea>
            <div class="create_dish_container--form-btn">
              <button class="create_dish_container--form-btn--canel">
                Cancel
              </button>
              <button
                class="create_dish_container--form-btn--create"
                type="submit"
              >
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </selection>
  </body>
</html>
